<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug = "true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        </system.web>

<connectionStrings>
    <add name="PizzaTPSDBConnString"
        connectionString="server=127.0.0.1;User ID=localhost;Password=root;Database=pizzeria_tps_db;"
        providerName="MySql.Data.MySQLClient"/>
</connectionStrings>

        </configuration>