@page
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1 class="text-center mt-5 mb-3">@ViewData["Title"]</h1>

<div class="container">
    <!--Full Order History Data-->
    <section class="row bg-light p-3 mb-5">
        <h3 class="text-center mb-3">Order History</h3>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Total</th>
                    <th scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#10028747</th>
                    <td>5/30/23 <br /> 12:07pm</td>
                    <td>Adam Lee</td>
                    <td>$21.20</td>
                    <!--These links will need to be modified to deliver DB data-->
                    <td><a asp-controller="Cart" asp-action="OrderDetails"><i class="bi bi-search"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">#10028747</th>
                    <td>5/30/23 <br /> 12:07pm</td>
                    <td>Adam Lee</td>
                    <td>$21.20</td>
                    <!--These links will need to be modified to deliver DB data-->
                    <td><a asp-controller="Cart" asp-action="OrderDetails"><i class="bi bi-search"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">#10028747</th>
                    <td>5/30/23 <br /> 12:07pm</td>
                    <td>Adam Lee</td>
                    <td>$21.20</td>
                    <!--These links will need to be modified to deliver DB data-->
                    <td><a asp-controller="Cart" asp-action="OrderDetails"><i class="bi bi-search"></i></a></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="row d-flex gap-3">
        <div class="col bg-light d-flex flex-column justify-content-center text-center p-5">
            <h3>Charity Pizzas</h3>
            <h5><strong><u>May</u></strong></h5>
            <h5>26</h5>
        </div>
        <div class="col bg-light d-flex flex-column justify-content-center text-center p-5">
            <h3>Monthly Sales</h3>
            <h5><strong><u>May</u></strong></h5>
            <h5>$22,543.86</h5>
        </div>
        <div class="col bg-light d-flex flex-column justify-content-center text-center p-5">
            <h3>User Acquisition</h3>
            <h5><strong><u>May</u></strong></h5>
            <h5>+142</h5>
        </div>
    </section>
</div>