/*General Styling Rules*/
@media(max-width: 1400px) {
    .justify-evenly-below-desktop {
        justify-content: space-evenly;
    }
}

/*Index Page*/
#Index-Hero {
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 67px);
    margin-top: 67px;
}

/*Menu Page*/
#Menu-Banner {
    /*min-height: 20vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
